@charset "utf-8";
/*Estilo Geral*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    background-size: contain; /*teste tambem o -- cover --*/
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 2px black;
    padding: 10px;
}

